@model IEnumerable<Products>

@{
    ViewData["Title"] = "GetProductForCategory";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<br />
<br />
@using (Html.BeginForm())
{
    <div class="row form-group">
        <label class="control-label col-md-2">Choose Category</label>
        <div class="col-md-10">
            @Html.DropDownList("categoryId", new SelectList(ViewBag.CategoryList, "CategoryId", "CategoryName"),
           "--Select--", htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit()" })
        </div>
    </div>
}
@{ if (@Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantityAvailable)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityAvailable)
                        </td>
                        <td>
                            @Html.ActionLink("Purchase", "PurchaseProduct", "Purchase",item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            No Products Found.
        </div>
    }
}
